@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.animate-fade-in {
  opacity: 0;
  animation: fade-in 0.5s forwards;
  animation-delay: 0.5s;
}

.animate-slide-up {
  transform: translateY(20px);
  opacity: 0;
  animation: slide-up 0.5s forwards;
  animation-delay: 0.5s;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.animate-fade-in {
  opacity: 0;
  animation: fade-in 0.5s forwards;
  animation-delay: 0.5s;
}

.animate-slide-up {
  transform: translateY(20px);
  opacity: 0;
  animation: slide-up 0.5s forwards;
  animation-delay: 0.5s;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.group:hover .group-hover\:flex {
  display: flex;
}

.relative .absolute {
  position: absolute;
}

.absolute.hidden {
  display: none;
}

.group-hover\:flex {
  display: none;
}

.group:hover .group-hover\:flex {
  display: flex;
}

/* Slider CSS */
.slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.5s ease;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
